<div class="notication-list notification--{{this.type}}">
    <div class="notication-list__tomato-icon">
        <span class="icon {{this.icon}}"></span>
    </div>
    <div class="notication-title__wrapper">
        <h4 class="notication-list__title">{{this.message}}</h4>
    </div>
    <div class="notication-list__status">
        <span class="icon icon-close"></span>
    </div>
</div>