{{#each tasks}}
<section class="timer">
    <div class="timer-content">
        <h3 class="timer-content__name">{{title}}</h3>
        <h4 class="timer-content__desctiption">{{description}}
        </h4>
        <div class="timer-content__pomodoros--wrapper">
        </div>
    </div>
    <div class="timer-circle">
    </div>
    <div class="timer-buttons">
    </div>
</section>
{{/each}}