<body>
    <div class="popup">
        <div class="popup-body">
            <div class="popup-content">
                <nav class="popup-content__nav">
                    <ul class="popup-content__nav-ul">
                        <li class="popup-content__nav-icon" id="icon-close--remove-task">
                            <a href="#" class="popup-content__link">
                                <span class="icon icon-close"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="popup-content__items">
                    <h2 class="popup-content__items-title">Remove Task</h2>
                    <h3 class="popup-content__items-message">Are you sure you want to remove selected task(s)?</h3>
                    <div class="popup-buttons popup-buttons--two-items">
                        <div class="popup-buttons__wrapper buttons-two-items--cancel-remove">
                            <button class="button button--cancel-remove-task">Cancel</button>
                            <button class="button button--remove-task">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>