<div class="daily-list">
    <div class="information-block">
        <div class="information-block__wrapper">
            <div class="information-block__content-wrapper">
                <p class="information-block__content--first-row">{{this.title}}</p>
                <p class="information-block__content--second-row">{{this.description}}</p>
            </div>
        </div>
    </div>
</div>