<body>
    <main>
        <section class="first-task page--task-list">
            <div class="title-wrapper">
                <h1 class="title-name">Daily Task List</h1>
                <a class="title-plus" href="#">+</a>
            </div>
            <div class="customize-settings__wrapper">
                <a href="#" class="customize-settings__link">
                    <img class="customize-settings__img" src="../../images/tomato-add.svg" alt="pomodoro">
                </a>
                <div class="todo-message add-content">
                    <h2 class="customize-settings__title">Add your first task</h2>
                </div>
            </div>
        </section>

    </main>
</body>