<body class="body page--task-list">
    <main class="main page--task-list" id="root">
        <div class="title-wrapper">
            <h1 class="title-name">Daily Task List</h1>
            <a class="title-plus" href="#">+</a>
        </div>
        <!-- section with tasks -->
        <section class="section customize-settings">
            <div class="customize-settings__wrapper">
                <a href="#" class="customize-settings__link">
                    <img class="customize-settings__img" src="../../images/tomato_settings.svg" alt="pomodoro">
                </a>
                <h2 class="customize-settings__title">As you visited site for a first time you can check and
                    customize
                    your default application settings</h2>
                <div class="button-wrapper">
                    <button class="button button--goToTask">Skip</button>
                    <button class="button button--save button--goToSettings">Go to settings</button>
                    </div>
                    </div>
                    </section>
                    </main>
</body>