<body class="body">
    <div class="task-list-wrapper">
        <section class="page--task-list">
            <div class="title-wrapper">
                <h1 class="title-name">Daily Task List</h1>
                <a class="title-plus" href="#">+</a>
            </div>
            <ul class="toggle-list">
                <li class="toggle-list__item">
                    <a href="#" class="toggle-list__link toggle-list__link--todo">To Do</a>
                </li>
                <li class="toggle-list__item">
                    <a href="#" class="toggle-list__link toggle-list__link--done">Done</a>
                </li>
            </ul>
            <div class="daily-list"></div>
            <div class="section page--task-list__tasks">
            {{!-- there is the block with the tasks items --}}
            <div class="tasks-block">
                <div class="tasks-block__wrapper">
                    </div>
                    </div>
                    </div>
                    </section>
    </div>
</body>