<body class="body">
    <div class="page--settings__sections-wrapper">
        <div class="section page--settings__categories">
            <ul class="categories-list">
                <li class="categories-list__items categories-list__items--work">Work</li>
                <li class="categories-list__items categories-list__items--education">Education</li>
                <li class="categories-list__items categories-list__items--hobby">Hobby</li>
                <li class="categories-list__items categories-list__items--sport">Sport</li>
                <li class="categories-list__items categories-list__items--other">Other</li>
            </ul>
            <button class="button button--goToTask">Go to Tasks</button>
        </div>
    </div>
</body>